*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-text-color: #757575;
    /* var(--primary-text-color) Line */
    --title-text-color: #212121;
    /* var(--title-text-color) Title */
    --accent-color: #FFFFFF;
    /* var(--accent-color) Accent */
    --link-focus: #2196F3;
    /* var(--link-focus) */
}

body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    color: var(--title-text-color);
    background: var(--accent-color);
}

ul {
    list-style: none;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

/* img {
display: block;
    max-width: 100%;
    height: auto;
} */
    
    

/* HEADER */
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}


/* logo */
.logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
}

.page-header .web {
    color: var(--link-focus);
}

.page-header .studio {
    color: #000000;
}

.nav-container .logo {
    display: flex;
    padding: 24px 0px;
    margin-right: 93px;
}



/* Site-nav    Auth-nav*/
.header-container .link {
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    display: flex;
}

.header-container .link:hover,
.header-container .link:focus {
    color: var(--link-focus);
    cursor: pointer;
}

/* Site-nav */
.nav-container .item+.item {
    margin-left: 50px;
}

.site-nav {
    display: flex;
}

.nav-container {
    display: flex;
}


/* Auth-nav */
.auth-nav .item+.item {
    margin-left: 50px;
}

.auth-nav {
    display: flex;
}



.header-container {
    display: flex;
    justify-content: space-between;
}

.header-container container {
    display: flex;
}





/* HERO */
.page-main .hero-container {
    display: inline-block;
    width: 1600px;
    margin: 0px;
    background: #2F303A;
}


/* hero - h1 */
.hero .title {
    margin: 200px 452px 0px 452px;

    text-decoration: none;
    font-family: inherit;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    /* or 136% */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);

}


/* button */
.hero .button {
    margin: 30px 692px 200px 692px;
    padding: 10px 32px 10px 32px;
    width: 216px;
    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.05em;
    color: var(--accent-color);
    background: var(--link-focus);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
}

.hero .button:hover,
.hero .button:focus {
    color: var(--accent-color);
    background: #0b85e8;
    cursor: pointer;
}




/* Наші переваги */
.benefits-container {
    display: flex;
    width: 1200px;
    padding: 0 15px;
    margin: 0px auto;
}

.benefits .our-advantages {
    display: flex;
    margin: 0px;
    font-size: 0.1px;
        line-height: 1.16px;
    color: rgba(0, 0, 0, 0);
}

/* benefits - h3 */
.benefits .title {
    display: flex;
margin-top: 94px;
margin-bottom: 0px;

    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}


/* benefits - p */
.benefits .line {
    display: flex;
margin-top: 10px;
    margin-bottom: 0px;

    text-decoration: none;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}


.benefits .card-set {
    display: flex;
    flex-wrap: wrap;
}

.benefits .item {
    /*  Set the width of the elements  */
    flex-basis: calc((100% - 50px) / 4);
}

.benefits .item:not(:first-child) {
    padding-left: 30px;
}








/* Чим ми займаємося h3 */
.services-container {
    width: 1200px;
    padding: 0 15px;
    margin: 0px auto;
}

.services .title {
    display: flex;
margin-top: 118px;
margin-left: 402px;
margin-bottom: 0px;


    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}


.services-blok {
    display: flex;
    margin-top: 50px;
    grid-column-gap: 30px;
}




/* Наша команда */
.team {
    background: #F5F4FA;
}
.team .background {
   
    background: var(--accent-color);
}

.team-container {
    
    width: 1200px;
    padding: 0 15px;
    margin: 0px auto;
}



/* team title-team h3 */
.team .title-team {
    display: flex;
    margin: 94px 0px 0px 453px;


    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/* team title h3 */
.team .title {
    display: flex;
    margin: 30px 0px 0px 0px;
justify-content: center;

    text-decoration: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/* team line p */
.team .line {
    display: flex;
    margin: 10px 0px 30px 0px;
justify-content: center;

    text-decoration: none;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}


.team .team-blok {
    display: flex;
    grid-column-gap: 30px;
    margin-top: 50;
}


.team-blok .background {
    margin-bottom: 94px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}



/* Footer */

.footer {
    background: #2F303A;
}

.footer-container {
    display: flex;
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    flex-direction: column;
}

/* logo */
.footer .logo {
    display: flex;
    padding: 0px;
    margin-top: 60px;

    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--link-focus);
}

.footer .web {
    color: var(--link-focus);
}

.footer .studio {
    color: var(--accent-color);
}

/* address */
.address-link {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.address-link:hover,
.address-link:focus {
    color: var(--link-focus);
}



/* mailto  tel */
.footer .link {
    display: flex;
    flex-direction: column;
    margin-top: 9px;

    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-link .item:last-child {
    margin-bottom: 60px;
}

.address .link:hover,
.address .link:focus {
    color: var(--link-focus);
}


.address {
    display: flex;
}

.footer-link {
    display: flex;
    flex-direction: column;
}




/* PORTFOLIO */
/* button */
.portfolio {
  
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

}


.portfolio .title {
    display: flex;
    margin: 0px;
    font-size: 0.1px;
    line-height: 1.16px;
    color: rgba(0, 0, 0, 0);
}


.portfolio .button-portfolio {
    display: flex;
    grid-column-gap: 10px;
    padding: 6px 22px 6px 22px;

    text-decoration: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    /* identical to box height, or 162% */
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background: #F5F4FA;
    border-radius: 4px;
    border: 0px;
}

.portfolio .button-portfolio:hover,
.portfolio .button-portfolio:focus {
    color: var(--accent-color);
    background: var(--link-focus);
    cursor: pointer;
}

.portfolio-blok .button-Portfolio {
    display: flex;
}
.portfolio-blok {
    display: flex;
grid-column-gap: 8px;
margin: 94px 0px 0px 297px;
    
}
.portfolio-container {
    display: flex;
}


.portfolio-blok .img {
    display: flex;
}

.img-blok .background {
border: 1px solid #EEEEEE;
}

.img-blok {
    grid-column-gap: 30px;
    margin: 50px 0px 94px 0px;
    display: flex;
    flex-wrap: wrap;
    
}




/* portfolio - h2 */
.img-blok .title {
    display: flex;
        margin: 20px 0px 0px 24px;

    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}



/* portfolio - p */
.img-blok .line {
    display: flex;
    margin: 4px 0px 0px 24px;

    text-decoration: none;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;
    color: #757575;
}